@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

$fontMain:'PT Sans', sans-serif;



// nav 
$line1-Size: (
    'md': 1rem,
    'lg': 1rem,
    'xl': 1.3rem,
    'xxl': 1.3rem);
$line1-Weight: 400;


$line2-Size: (
    'md': 1.3rem,
    'lg': 1.45rem,
    'xl': 1.5rem,
    'xxl': 1.6rem);
$line2-Weight: 700;


$cardTittle-Size: (
    'md': 1.1rem,
    'lg': 1.2rem,
    'xl': 1.25rem,
    'xxl': 1.3rem);
$cardTittle-Weight: 600;

$cardText-Size: (
    'md': 1.1rem,
    'lg': 1.2rem,
    'xl': 1.25rem,
    'xxl': 1.3rem);
$cardText-Weight: 300;